.navbar {
  /*position*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  /*display*/
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*box-model*/
  width: 100%;
  padding: 1.5rem 6%;

  /*background*/
  background-color: white;
}

.logo {
  /*box-model*/
  width: 125px;
}

.burger-menu {
  /*display*/
  display: block;

  /*style*/
  color: #744bfc;
  cursor: pointer;
}

.navbar-overlay {
  display: none;

  /*position*/
  position: fixed;
  top: 0;
  right: 0;

  /*box-model*/
  width: 100%;
  height: 100vh;

  /*background*/
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-links {
  /*position*/
  position: fixed;
  top: 0;
  right: -100%;

  /*display*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  /*box-model*/
  width: 70%;
  height: 100vh;
  padding: 2rem 2rem 7rem 0rem;

  /*background*/
  background-color: #ffffff;

  /*typography*/
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;

  /*transition*/
  transition: all;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}

.close-menu {
  /*display*/
  display: block;

  /*style*/
  color: #744bfc;
  cursor: pointer;
}

.nav-route-links {
  /*display*/
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  /*typography*/
  font-size: 1.8rem;
  font-weight: 500;
  text-align: right;
}

.nav-social-links {
  display: flex;
  column-gap: 1.5rem;
}

.nav-social-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  /*box-model*/
  padding: 0.5rem;
  border-radius: 0.5rem;

  /*styles*/
  color: #ffffff !important;
  background-color: #744bfc;
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 3rem 6%;
  }

  .burger-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .navbar-overlay {
    position: static;
    display: none;
    width: 0;
    height: 0;
  }

  .nav-links {
    /*position*/
    position: static;

    /*display*/
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    /*box-model*/
    width: auto;
    height: auto;
    padding: 0;
  }

  .nav-route-links {
    /*display*/
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;

    /*typography*/
    font-size: 1.4rem;
  }
}
