@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /*box-model*/
  padding: 7rem 2% 3rem 2%;
  width: 100%;
  height: 100vh;
}

ul {
  list-style: none;
}

a,
a:active,
a:visited {
  /*display*/
  display: inline-block;

  /*typography*/
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

/* MAIN */

main {
  /*display*/
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  /*box-model*/
  max-height: calc(100vh - 10rem);
  padding: 2rem 4% 3rem 4%;
  border-radius: 0.6rem;

  /*background*/
  background: linear-gradient(
    180deg,
    #eff2ff -30.56%,
    rgba(232, 236, 255, 0) 135.85%
  );
}

/* laptops/desktops */
@media screen and (min-width: 1024px) {
  body {
    padding-top: 10rem;
  }

  main {
    padding-top: 4.4rem;
  }
}
