@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a,
a:active,
a:visited {
  /*display*/
  display: inline-block;

  /*typography*/
  text-decoration: none;
  color: black;
}

/* Main Navigation */
.navbar {
  /*display*/
  display: flex;
  justify-content: space-between;

  /*position*/
  position: fixed;
  top: 0;
  left: 0;

  /*box-model*/
  width: 100%;
  background-color: aqua;
}

/* MEDIA QUERIES */

/* tablets */
@media screen and (min-width: 768px) {
}

/* laptops/desktops */
@media screen and (min-width: 1024px) {
}
